.flexbox-container{
    background-color:#EDE6DB;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    

}


.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 4px solid #1D5C63;
    background-color: #EDE6DB;
    
}

.flexbox-item-1{
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    order: 1;
}

.flexbox-item-2{
   min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    order: 1;
    
}

.flexbox-item-3{
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    order: 1;
}

    <!--flex-wrap: wrap;-->
    <!--justify-content: space-around;-->
    <!--align-items: center;-->
    <!--align-content: space-around;-->
